
.countdown {
    position: relative;
    top: 50%;
    display: block;
    height: auto;
    max-width: 35em;
    margin: 0 auto;
    text-align: center;   
}

 .countdown input {
        text-transform: uppercase;
        text-align: center;
        /*font-family: helvetica;*/
        /*height: 1.25em;*/
        border: 1px solid black;
        font-weight: 700;
        font-size: 400% ; /* 9.5rem */
        width: 80%;
        margin: 0 10px;
        border-radius: 5px;
    }
    .countdown h3 {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 5px;
        margin: -20px;

    }
    .countdown .bottom_time > input {
        /*padding: 3.0% 4.1%;*/
        display: inline-block;
        /*height: 1em;*/
        font-weight: 500;
        font-size: 150%; /* 2.5rem;*/
        color: black;
        width: 15.5%;
    }
    .countdown ul {
        padding: 0;
        margin: .5em 0;
    }

        .countdown ul  li {
            display: inline;
            font-weight: 500;
            padding: 0 8%;
        }

    .countdown hr.soft {
        height: 1px;
        margin: 1.5em 0;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
        background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
        border: 0;
    }
