
        input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
            border-bottom: 3px solid red !important;
        }

      
        table.table td {font-size:small !important;}

        table.table thead {
            font-size: small !important;
        }


        table.table caption {
            font-size: small !important;
        }


        .input-group .input-group-addon {
            background:#333;
        }

    
        
        .form-inline .form-group {
            padding-top: 8px !important;
        }

        .line-total {
            min-width: 90px;
            /*background: #275b11 !important;*/
        }

        .checkbox label {
            font-size:small;
        }

        /* VALIDATION ERRORS */
        input.validate-error {
            background: rgb(251, 221, 226);
            
        }
        label.validate-error {
            color: #FF8B8B;
            font-weight: normal !important;
        }
   
        ul.country-list li.country{
            color:#333 !important;
            font-size:90%;

        }

        .force-show {
            display: inline-block !important;
        }


        
        .well-offset-color {
            /*border: 1px solid #86A6C5 !important;*/
            /*background-color: #2b3e50 !important;*/
            min-height: 320px !important;
        }
            .well-offset-color table {
                border-color: #637A90;
            }

            .well-offset-color table td {
                font-size: 120% !important;
            }

                .well-offset-color table caption {
                    font-size: 150% !important;
                    color: #637A90;
                }


        #rego-summary {
            display:none;
        } 
        #rego-summary div.well {
            background-color: #213244;
        }

            #rego-summary table caption {
                font-size: 150% !important;
            }

            table.table-last-col-right td:last-child, 
            table.table-last-col-right th:last-child{
                text-align:right;
            }

        #rego-summary .label-summary-total {
            font-size:100%;    
        } 
            

        #payment-summary table {
            border-color:#637A90;
        }
        #payment-summary table caption {
            color:#637A90;
        }

        #payment-summary .bank-info {
            color:#213244;
        }
            

        
